@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kanit:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(109.6deg, rgba(209, 0, 116, 1) 11.2%, rgba(110, 44, 107, 1) 91.1%);
}

header {
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Bree Serif', serif;
}

a, a:visited {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* =================================================
  loading and error
==================================================== */

.loading {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

.error {
  color: red;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

/* =================================================
  search
==================================================== */

form {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 2rem;
  bottom: 2.25rem;
  color: white;
  font-size: 1.5rem;
}

input {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.2);
  border: 5px solid white;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

/* =================================================
  table
==================================================== */

.table-container {
  overflow-x: auto;
}

table {
  table-layout: auto;
  width: 100%;
}

th,
tr,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}

/* =================================================
  coin
==================================================== */

.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.coin__image {
  max-height: 25px;
  margin-right: 0.5rem;
}

.coin__name {
  margin-right: 0.5rem;
}

.coin__symbol {
  text-transform: uppercase;
}

.percent--red {
  color: red;
}

.percent--green {
  color: green;
}

/* =================================================
  pagination
==================================================== */

.pagination-container {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.previous-btn {
  clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
  background-color: white;
  color: white;
  font-size: .25rem;
  padding: .75rem .25rem .75rem 1.5rem;
  margin: 0 .25rem;
  cursor: pointer;
}

.next-btn {
  clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  background-color: white;
  color: white;
  font-size: .25rem;
  padding: .75rem 1.95rem .75rem .25rem;
  margin: 0 .25rem;
  cursor: pointer;
}

.previous-btn:hover, .next-btn:hover {
  color: black;
  background-color: black;
}

.pagination__btns a {
  padding: .5rem;
  margin: .5rem;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.pagination__btns a:hover {
  color: white;
  background-color: #2b2eff;
}

.pagination__btn--active a {
  color: white;
  background-color: black;
}
