@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kanit:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: white;
}

body {
  background-image: linear-gradient(109.6deg, rgba(209, 0, 116, 1) 11.2%, rgba(110, 44, 107, 1) 91.1%);
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-family: 'Bree Serif', serif;
}

a, a:visited {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* =================================================
  loading and error
==================================================== */

.loading {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

.error {
  color: red;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

/* =================================================
  search
==================================================== */

form {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 2rem;
  bottom: 2.25rem;
  color: white;
  font-size: 1.5rem;
}

input {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.2);
  border: 5px solid white;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: white;
}

/* =================================================
  table
==================================================== */

.table-container {
  overflow-x: auto;
}

table {
  table-layout: auto;
  width: 100%;
}

th,
tr,
td {
  border: 1px solid black;
}

td {
  text-align: center;
}

/* =================================================
  coins
==================================================== */

.coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.coin__image {
  max-height: 25px;
  margin-right: 0.5rem;
}

.coin__name {
  margin-right: 0.5rem;
}

.coin__symbol {
  text-transform: uppercase;
}

.percent--red {
  color: red;
}

.percent--green {
  color: green;
}
