@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kanit:wght@400;600&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  color: white;
  scroll-behavior: smooth;
}

body {
  background-color: #333;
}

h1 {
  font-family: 'Bree Serif', serif;
  padding: 0 1rem;
  text-align: center;
  color: gold;
  text-shadow: 0 1px 0px #6e22b5, 1px 0 0px #8A2BE2, 1px 2px 1px #6e22b5, 2px 1px 1px #8A2BE2, 2px 3px 2px #6e22b5, 3px 2px 2px #8A2BE2, 3px 4px 2px #6e22b5, 4px 3px 3px #8A2BE2, 4px 5px 3px #6e22b5, 5px 4px 2px #8A2BE2, 5px 6px 2px #6e22b5, 6px 5px 2px #8A2BE2, 6px 7px 1px #6e22b5, 7px 6px 1px #8A2BE2, 7px 8px 0px #6e22b5, 8px 7px 0px #8A2BE2;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

a, a:visited {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0;
}

button {
  background-color: transparent;
  border: 2px solid gold;
  border-radius: 20px;
  padding: .5rem;
  cursor: pointer;
}

hr {
  width: 80%;
  border: 1px solid white;
  margin-top: 1rem;
  opacity: .5;
}

@media (min-width: 1024px) {
  hr {
    margin-top: 2rem;
  }
}

input {
  width: 100%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.2);
  border: 5px solid white;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  font-size: 1.25rem;
}

input:focus {
  outline: none;
  border: 5px solid gold;
}

input::placeholder {
  color: white;
}

.red {
  color: #ff0000;
}

.green {
  color: lime;
}

.hide-mobile {
  display: none;
}

@media (min-width: 768px) {
  .hide-mobile {
      display: table-cell;
      
    }
}

/* =================================================
  loading error, not found
==================================================== */

.loading {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

.error {
  color: red;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

.not-found {
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

/* =================================================
  header 
==================================================== */

header {
  padding: 1.5rem;
  background-color: #1c092d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gold;
}

.user-info {
  display: flex;
  align-items: center;
}

header img {
  height: 50px;
  width: 50px;
}

header span {
  color: gold;
  cursor: pointer;
  text-decoration: underline;
  margin: 0 .5rem;
}

header button:hover {
  background-color: gold;
  color: black;
  transition: all 0.3s linear;
}

.homepage-link {
  display: flex;
  align-items: center;
}

/* =================================================
  footer
==================================================== */

footer {
  margin-top: 3rem;
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* =================================================
  modal
==================================================== */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: all 0.3s linear;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 2;
}

.modal-container {
  background: #777;
  border-radius: 0.25rem;
  width: 90vw;
  min-height: 300px;
  max-width: 650px;
  text-align: center;
  position: relative;
  padding: 1rem;
}

.modal-container h2 {
  font-size: 1.5rem;
  color: gold;
  margin-left: 1rem;
}

.modal-container__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-container__title button {
  border: none;
}

.modal-container__title button:hover {
  background-color: #777;
}

.modal-container svg {
  font-size: 1.5rem;
  fill: crimson;
}

.modal-container svg:hover {
  fill: gold;
}

.modal-container input {
  margin: .75rem 0;
}

#modalErrorMsg {
  padding: .5rem;
  border-radius: 5px;
  color: white;
}

.modal-container__login {
  font-size: 1.5rem;
  margin-top: 1rem;
}

/* Google sign in button from https: //codepen.io/mupkoo/pen/YgddgB */

.login-with-google-btn {
  transition: background-color .3s, box-shadow .3s;

  margin: 1rem 0 2rem;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;

  transform: scale(1.4);
}

.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}

.login-with-google-btn:active {
  background-color: #eeeeee;
}

.login-with-google-btn:focus {
  outline: none;
  box-shadow:
    0 -1px 0 rgba(0, 0, 0, .04),
    0 2px 4px rgba(0, 0, 0, .25),
    0 0 0 3px #c8dafc;
}

.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
  cursor: not-allowed;
}

/* =================================================
  homepage banner
==================================================== */

.banner {
  background-image: url("../clipart/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

.banner a {
  text-decoration: none;
}

.banner__attribution, .banner__attribution a {
  font-size: .6rem;
  align-self: flex-end;
  margin-right: .25rem;
}

.banner__attribution a {
  color: gold;
}

.title {
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.title span {
  text-align: center;
}

.title img {
  height: 50px;
  width: 50px;
  margin: 0 1.5rem;
  display: none;
}

@media (min-width: 768px) {
.title img {
    display: flex;
  }
}

.carousel__box {
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto .5rem auto;
  width: 250px;
  padding: 1rem 0;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .carousel__box {
    display: flex;
  }
}

.carousel__img {
  height: 100px;
  width: 100px;
  margin: auto;
}

.carousel__row {
  display: flex;
  justify-content: space-evenly;
}

.carousel__price {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  color: gold;
}

/* =================================================
  homepage search 
==================================================== */

.search {
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.search__label {
  font-size: 0;
}

.search-icon {
  position: absolute;
  left: 2rem;
  bottom: 2.25rem;
  color: white;
  font-size: 1.5rem;
}

/* =================================================
  favorites filter
==================================================== */

.favorites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 1rem 0.75rem;
}

.favorites__switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: .5rem;
}

.favorites__switch input {
  opacity: 0;
  transform: scale(5);
  position: relative;
  left: 1rem;
  z-index: 5;
  cursor: pointer;
  height: 10px;
}

.favorites__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gold;
  -webkit-transition: .4s;
  border-radius: 34px;
  transition: .4s;
}

.favorites__slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: blueviolet;
  -webkit-transition: .4s;
  border-radius: 50%;
  transition: .4s;
}

input:checked+ .favorites__slider {
  background-color: blueviolet;
}

input:checked+.favorites__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: gold;
}

.favorites__label {
  cursor: pointer;
  margin-right: .5rem;
}

.favorites__alert {
  font-weight: 600;
  padding: .25rem;
  border-radius: 10px;
}

.favorites__alert--add {
  color: #004d00;
  background-color: #80ff80;
}

.favorites__alert--remove {
  color: #800000;
  background-color: #ff8080;
}

/* =================================================
  homepage table
==================================================== */

.table-container {
  overflow-x: auto;
  margin-left: .75rem;
}

table {
  table-layout: auto;
  width: 100%;
}

th {
  color: gold;
}

th svg {
  fill: gold;
  margin-top: .2rem;
}

td {
  text-align: center;
}

/* =================================================
  homepage coin row
==================================================== */

.coin-row:hover td, .coin-row:hover h2,
.coin-row:hover p {
  color: gold;
}

.coin-row__star svg {
  margin-top: .2rem;
  fill: gold;
  cursor: pointer;
}

.coin-row__coin {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.coin-row__coin a {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
}

.coin-row__coin img {
  max-height: 25px;
  margin-right: 0.5rem;
}

.coin-row__coin h2 {
  margin-right: 0.5rem;
}

/* =================================================
  homepage pagination
==================================================== */

.pagination-container {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 100%;
}

.previous-btn, .next-btn {
  cursor: pointer;
  margin: 0 1rem;
}

.pagination__btns {
  display: none;
}

.pagination__btns a {
  padding: 1rem;
  margin: .5rem;
  border-radius: 20px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.pagination__btns a:hover {
  background-color: blueviolet;
}

.pagination__btn--active a {
  background-color: blueviolet;
}

@media (min-width: 768px) {

  .pagination__btns {
    display: flex;
  }
}

/* =================================================
  coinpage image and main stats
==================================================== */

.coin__flexItem1 {
  flex: 1 1 30%;
}

.coin {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: .75rem;
}

.coin img {
  max-height: 150px;
}

.coin__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 0 .75rem;
}

.coin__rank {
  background-color: blueviolet;
  padding: .25rem;
  border-radius: 5px;
}

.coin__table {
  display: none;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {

  .coin img {
    max-height: 250px;
  }

}

@media (min-width: 1200px) {

  .coin {
    flex-direction: row;
  }

  .coin__flexItem1 {
    border-right: 1px solid white;
  }

  .coin__table {
    display: flex;
  }

}

/* =================================================
  coinpage chart section
==================================================== */

.coin__flexItem2 {
  flex: 1 1 70%;
}

.coin__flexItem2 table {
  margin-top: 1.5rem;
}

.coin__chart {
  margin: 0 .25rem;
}

.coin__chart-btn {
  border: 1px solid blueviolet;
  border-radius: 5px;
  background-color: gold;
  color: black;
  cursor: pointer;
  margin: .25rem;
}

.coin__chart-btn:hover {
  background-color: #ffe766;
}

.coin__chart-btn--active {
  background-color: blueviolet;
  color: white;
  border: 1px solid gold;
  border-radius: 5px;
  margin: .25rem;
  font-weight: bold;
}

@media (min-width: 768px) {
    .coin__outer-container {
        display: flex;
      }
    
      .coin__container--stretch {
        width: 33%
      }
}

@media (min-width: 1200px) {

  .coin__chart {
    margin: 0 .5rem;
    max-width: 70vw;
  }

  .coin__outer-container {
    display: flex;
  }

  .coin__container--stretch {
    justify-content: space-evenly;
  }
}

/* =================================================
  coinpage description
==================================================== */

.coin__description h3 {
  margin: 20px 0 0 1rem;
}

.coin__description p {
  text-align: justify;
  line-height: normal;
  padding: 1rem;
  margin: 0 auto;

}

.coin__description a {
  text-decoration: underline;
}

.read-more-btn {
  border: 1px solid white;
  border-radius: 5px;
  background: #333;
  padding: .5rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

@media (min-width: 768px) {

  .coin__description h3 {
    margin: 20px 0 0 1.5rem;
  }

  .coin__description p {
    column-count: 2;
    column-gap: 1.5rem;
    padding: 1.5rem;
  }
}

@media (min-width: 1024px) {

  .coin__description h3 {
    margin: 20px 0 0 2rem;
  }

  .coin__description p {
    column-count: 3;
    column-gap: 2rem;
    padding: 1rem 2rem .5rem;
  }

}

/* =================================================
  sign up and reset password pages
==================================================== */

.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.admin h2 {
  font-size: 1.5rem;
  color: gold;
}

.admin form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin input {
  margin: .75rem;
}

.admin button {
  font-size: 2rem;
}

.admin button:hover {
  background-color: gold;
  color: black;
}

.admin p {
  margin-top: 2rem;
}

#signupErrorMsg, #resetErrorMsg {
  padding: .5rem;
  min-height: 1rem;
  color: white;
}